<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <style type="text/css">
        label {
            float: left;
            width: 150px;
        }

        input, select, textarea {
            display: block;
        }

    </style>
</head>
<body>
    @RenderBody()
</body>
</html>
